body{
    margin: 0;
    background-color: dimgray;
    padding: 0;
}
.first{
   width: 900px;
   height: 6500px;
   background-color: #ffffff;
   margin-left: 250px;

}
.first h1{
    text-align: center;
    color:rgb(60, 65, 65);
    font-size: 50px;
    margin-top: 30px;
}
.first h3{
    text-align: center;
    color: rgb(82, 85, 85);
    font-size: 35px;
    margin-top: 0;
    
}
.first img{
    float: left;
}
.first p{
    font-size: 16px;
    line-height: 25px;
    color: rgb(68, 63, 63);
    text-align: justify;
    margin-left: 10px;

}
.first h4{
    font-size: 28px;
    color: rgb(110, 117, 117);
    margin-left: 5px;
}
.first span{
    color: rgb(247, 33, 33);
}
.first h5{
    text-align: center;
    font-size: 22px;
    color: rgb(74, 91, 92);
}
.first .second img{
    margin: 100px;
    margin-top: 5px;
}
.first h6{
    font-size: 25px;
    color: rgb(104, 100, 100);
    margin-left: 20px;
}
.first .third{
    margin: 20px;
}
.first .forth img{
    width: 80%;
    margin: 90px;
    margin-top: 5px;
}
.first .left{
    margin: 20px;
}
.first .button img{
    margin: 80px;
}
.first h1{
    margin-top: 0px;
}
.first ul li{
    text-align: end;
    color: red;
    font-size: 20px;
    list-style: none;
}
